.sprite {
    width: 350px;
    height: 200px;
    background: url('Masskot.png');
    animation: play 4s steps(17) infinite;
    background-size: 6045px 190px;
   
}
@keyframes play {
    0% { background-position: 0px; }
    100% { background-position: -6045px; }
}
